@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Caveat:wght@400..700&family=Comic+Relief:wght@400;700&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #faf4f2;
  --color-secondary: #f27c17;
  --color-bg-primary: #0e0312;
  --color-maroon: #872341;
  --color-bg-tag: #ff0201;
  --color-orange-dark: #ec4510;
  --color-orange-light: #f6911d;
  --font-poppins: "Poppins", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-comic: "Comic Relief", system-ui;
  --font-playfair: "Playfair", serif;
  --font-libertinus: "Libertinus Serif", serif;
  --color-card-bg: #f9f9f9;
}

.grediant-color {
  background: #ec4510;
  background: linear-gradient(
    90deg,
    rgba(236, 69, 16, 0.92) 0%,
    rgba(246, 145, 29, 0.86) 78%
  );
}

.mx-screen {
  max-width: 1223px;
}
.flex-center {
  @apply flex justify-center items-center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
